{% extends "base.html.twig" %}
{% block title %}Catégorie #{{ category.id }}{% endblock %}

{% block body %}

   <div >
        {% for program in programs %}
            <div>
                <a href="{{ path("program_show", { slug: program.slug }) }}"><h1>{{ program.id }} / {{ program.title }}</h1></a>
            </div>
            <div>
                <p>{{ program.summary }}</p>
            </div>
            
         {% else %}
              Aucune série trouvée.
         {% endfor %}
    
  </div>

  <a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>
{% endblock %}